<div id="<%= dom_id event %>">
  <p>
    <strong>Título:</strong>
    <%= event.titulo %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= event.descricao %>
  </p>

  <p>
    <strong>Data de início:</strong>
    <%= event.data_inicio %>
  </p>

  <p>
    <strong>Data de término:</strong>
    <%= event.data_termino %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= event.user.email %>
  </p>

</div>
